<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true" stopOnError="true" stopOnFailure="true" stopOnIncomplete="false" stopOnSkipped="false">
	<testsuites>
		<testsuite name="tests">
			<directory>./tests/src/</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<file>./src/Config.php</file>
			<file>./src/Json.php</file>
			<file>./src/Log.php</file>
			<file>./src/Validation.php</file>
			<file>./src/Exceptions/ConfigException.php</file>
			<file>./src/Exceptions/ExceptionAbstract.php</file>
			<file>./src/Exceptions/JsonException.php</file>
			<file>./src/Exceptions/LogException.php</file>
		</whitelist>
		<blacklist>
			<directory>./vendor/</directory>
			<directory>./tests/</directory>
			<file>./src/ContainerAbstract.php</file>
			<file>./src/Exceptions/ContainerException.php</file>
		</blacklist>
	</filter>

	<logging>
		<log type="coverage-html" target="./tests/reports/coverage" lowUpperBound="60" highLowerBound="95"/>
		<log type="coverage-clover" target="./tests/reports/coverage.xml"/>
		<log type="coverage-php" target="./tests/reports/coverage.serialized"/>
		<log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
		<log type="json" target="./tests/reports/logfile.json"/>
		<log type="tap" target="./tests/reports/logfile.tap"/>
		<log type="junit" target="./tests/reports/logfile.xml" logIncompleteSkipped="false"/>
		<log type="testdox-html" target="./tests/reports/testdox.html"/>
		<log type="testdox-text" target="./tests/reports/testdox.txt"/>
	</logging>
</phpunit>