<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true" stopOnError="false" stopOnFailure="false" stopOnIncomplete="false" stopOnSkipped="false">
	<testsuites>
		<testsuite name="tests">
			<directory>./tests/src/</directory>
		</testsuite>
	</testsuites>

	<filter>
		<blacklist>
			<directory>./vendor/</directory>
			<directory>./tests/</directory>
		</blacklist>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./src/</directory>
		</whitelist>
	</filter>

	<logging>
		<log type="coverage-html" target="./tests/reports/coverage" lowUpperBound="35" highLowerBound="70"/>
		<log type="coverage-clover" target="./tests/reports/coverage.xml"/>
		<log type="coverage-php" target="./tests/reports/coverage.serialized"/>
		<log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
		<log type="json" target="./tests/reports/logfile.json"/>
		<log type="tap" target="./tests/reports/logfile.tap"/>
		<log type="junit" target="./tests/reports/logfile.xml" logIncompleteSkipped="false"/>
		<log type="testdox-html" target="./tests/reports/testdox.html"/>
		<log type="testdox-text" target="./tests/reports/testdox.txt"/>
	</logging>
</phpunit>